@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 14px 0px 24px 0px;
}
.main-contents .card {
    border-color: #fff;
}
.input-edit {
    background-color: #F9FBFC !important;
    color: #888787 !important;
    border-color: #fff !important;
    font-size: 13px !important;
    font-family: inter !important;
    margin: 10px 0px 10px 0px;
}
.input-edit:focus {
    background-color: #F9FBFC !important;
    box-shadow: none !important;
    font-family: inter !important;
}
.orange-btn {
    border: 1px solid #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.orange-border {
    border: 1px solid #FC8945 !important;
    background-color: #fff !important;
    color: #FB640A !important;
    font-size: 13px !important;
}
.form-label {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-left: 12px !important;
}