@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 14px 0px 24px 0px;
}
.main-contents .card {
    border-color: #fff;
    padding: 20px;
}
.orange-txt {
    color: #FB640A;
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    margin: 14px 0px 24px 0px;
}
.input-edit {
    background-color: #F9FBFC !important;
    color: #888787 !important;
    border-color: #fff !important;
    font-size: 13px !important;
    font-family: inter !important;
    margin: 10px 0px 10px 0px;
}
.input-edit:focus {
    background-color: #F9FBFC !important;
    box-shadow: none !important;
    font-family: inter !important;
}
.form-label {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-left: 4px;
    margin-bottom: 4px !important;
}
form ::placeholder{
    color: #888787 !important;
    font-size: 14px;
}
.form-check-input:checked {
    background-color: #EBEBEB !important;
    border-color: #EBEBEB !important;
    --bs-form-switch-bg: url(../images/switch.png) !important;
}
.form-check-input:focus {
    box-shadow: none !important;
}
.form-check-input {
    background-color: #EBEBEB !important;
    border-color: #EBEBEB !important;
    --bs-form-switch-bg: url(../images/switch.png) !important;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}  
.upload-btn {
    border: 1px solid gray !important;
    color: gray;
    background-color: white !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.next-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.cancel-btn{
    border-color: #FC8945 !important;
    background-color: #fff !important;
    color: #FC8945 !important;
    font-size: 13px !important;
}