@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.main-contents .card {
    border-color: #fff;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents .title-show {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    background-color: #F9FBFC;
    border-color: #F9FBFC;
    border-radius: 10px;
    margin: 30px;
    padding: 10px 0px 0px 15px;
}
.title-1 span {
    border-radius: 50%;
    background-color: #FC8945;
    border-color: #FC8945;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;
}
.title-1 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    color: #FC8945;
}
.title-2 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    color: #B8B8B8;
}
.title-3 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    color: #B8B8B8;
}
.title-2 span {
    border-radius: 50%;
    background-color: #B8B8B8;
    border-color: #B8B8B8;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;
}
.title-3 span {
    border-radius: 50%;
    background-color: #B8B8B8;
    border-color: #B8B8B8;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;
}
.stp1 {
    font-size: 12px;
    color: #FC8945;
}
.stp2 {
    font-size: 12px;
    color: #B8B8B8;
}
.input-edit {
    height: 45px;
    border-color: #F9FBFC !important;
    background-color: #F9FBFC !important;
    font-size: 14px !important;
    color: #B8B8B8 !important;
    margin-top: 25px !important;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #F9FBFC !important;
    background-color: #F9FBFC !important;
}
.next-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    margin-top: 50px; 
    margin-bottom: 50px;
}
.next-form #cancel {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
.next-form .submit1 {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
}
.next-form .submit1:hover {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0px 15px 0px;
}
.card .form-contents1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    margin: 15px;
}
.next-form1 {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 50px; 
    margin-bottom: 150px;
}
.final-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    margin-top: 50px; 
    margin-bottom: 50px;
}
.final-view #cancel2 {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
.final-view .submit3 {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
}
.final-view .submit3:hover {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
}
.next-form1 #cancel1, #add_variant, #remove_variant {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    height: 30px;
}
.variant-button {
    width: 70%;
}
.next-form1 .submit1 {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
}
.next-form1 .submit1:hover {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
}
.tbl-active {
    color: #00A611 !important;
}
.add-stp2 {
    color: #FC8945 !important;
}
.remove-stp1 {
    color: #B8B8B8 !important;
}
.add-title2 {
    color: #FC8945 !important;
}
.remove-title1 {
    color: #B8B8B8 !important;
}
.add-no3 {
    color: #FC8945 !important;
}
.add-3 {
    background-color: #FC8945 !important;
    border-color: #FC8945 !important;
    color: #fff !important;
}
.remove-no1{
    background-color: #B8B8B8 !important;
    border-color: #B8B8B8 !important;
    color: #fff !important;
}
.remove-no2{
    background-color: #FC8945 !important;
    border-color: #FC8945 !important;
    color: #fff !important;
}
.nav-underline .nav-link.active {
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important;   
}
.nav-link {
    color: #000 !important;
    font-weight: bold !important;
    padding: 10px 0px 10px 0px !important;
    width: 70% !important;
}
.nav-link:hover {
    border-bottom-color: #FC8945 !important;
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important;
    width: 70% !important;
}
.table td:first-child{
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.table td:nth-child(2) {
    color: #9BA4B5;
    font-size: 13px;
}




@media only screen and (max-width: 767px) {
    .dot1-step {
        display: none !important;
    }
    .dot2-step {
        display: none !important;
    }
  }
.tabs-line {
    width: 80% !important;
    background-color: #E2E2E2;
}
