@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.bold-orange {
    font-size: 20px;
    font-weight: bold;
    color: #FB640A;
}
.orange-btn, .orange-btn:hover, .orange-btn:active {
    background-color: #FB640A !important;
    color: #fff !important;
}
.form-edit-input, .login-form ::placeholder {
    color: #999999;
    font-size: 14px;
}
.form-edit-input:focus {
    box-shadow: none;
    border-color: #dee2e6;
}
.link-text {
    text-decoration: none;
    color: #FB640A ;
    font-size: 13px;
}
.login-form > p{
    color: red;
    font-size: 14px;
}