@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents .home-text{
    color: #ADADAD;
    font-size: 14px;
    margin: 15px 0px 7px 13px;
}
.main-contents p span {
    color: #2C2B56;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 15px 13px
}
.tittle-box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.main-contents .tittle-box-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
}
.title-form-edit {
    border-color: #FC8945 !important;
    border-color: #FC8945 !important;
    height: 30px;
    border-radius: 3px !important;
    font-size: 13px !important;
    margin-bottom: 10px !important;
}
.main-contents .tittle-box button {
    border-color: #FC8945;
    background-color: #FC8945;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    width: 80px;
    height: 30px;
}
.title-form-edit:focus {
    box-shadow: none !important;
}
.main-contents .card {
    border-color: #fff;
    margin-left: 10px;
    margin-right: 15px;
}
.main-contents table {
    vertical-align: middle;
    padding: 25px;
}
.main-contents table th {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    font-size: 14px;
    padding: 20px;
}
.main-contents table td{
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
}
.main-contents table td button {
    border: none;
    background-color: #fff;
}
.customise-modal h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}
.customise-modal .modal-content {
    border-radius: 18px;
}
.modal-form-edit {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.customise-modal .modal-dialog {
    max-width: 1000px;
}
.modal-body {
    padding: 35px !important;
}
.input-edit {
    color: #888787 !important;
    font-size: 14px !important;
    border-color: #fff !important;
    background-color: #F9FBFC !important;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #fff;
}
.check-bow-edit {
    border: 1px solid #fff !important;
    color: #888787 !important;
    font-size: 14px !important;
    height: 39px;
    padding-top: 7px;
    background-color: #F9FBFC !important;
}
.modal-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.modal-submit #cancel {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
.modal-submit #submit1{
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
}
.modal-submit #submit1:hover {
    background-color: #FC8945;
    color: #fff;
}
.tbl-active {
    color: #00A611 !important;
}
table td .dropdown-menu {
    min-width: 0px !important;
    border-radius: 3px !important;
    border-color: #fff !important;
    font-size: 13px !important;

}
table .dropdown-menu i {
    color: #FC8945;
    font-size: 14px;
    margin-right: 3px;
}
.form-check .form-check-input {
    float: right !important;
}
.form-check .form-check-input:focus {
    box-shadow: none !important;
}
.total-view h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.total-view .sec2-list {
    padding-top: 49px;
    color: #888787;
}
.total-view .sec3-list {
    padding-top: 49px;
}
.total-view .sec4-list {
    padding-top: 49px;
    color: #888787;
}
.total-view p i {
    color: #00A611;
}
.review-item {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#edit1 {
    font-size: 12px;
    border: none;
    background-color: #FC8945;
    color: #fff;
    width: 73px;
    height: 30px;
    margin-right: 30px;
}
#cancel1 {
    font-size: 12px;
    border-color: #FC8945;
    background-color: #fff;
    color: #FC8945;
    width: 73px;
    height: 30px;
}
table .dropdown-toggle::after {
    content: none !important;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {

    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
.tittle-box form button {
    background-color: #fff !important;
    padding: 0px !important;
    width: 35px !important;
    height: 30px !important;
}
.tittle-box form button i {
    color: #FC8945;
    padding-top: 2px;
}
.product-image {
    border-radius: 50%;
    width: 15%;
}
.model-box {
    margin-left: 105px;
}
.model-items {
    height: 85vh;
    display: flex;
    align-items: center;
}
