@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    margin: 14px 0px 24px 0px;
}
.main-contents .card {
    border-color: #fff;
}
.check-icon {
    color: #FC8945 !important;
    border: 1px solid #FC8945 !important;
}
.input-edit {
    height: 30px;
    border-color: #FC8945 !important;
    border-radius: 3px !important;
    font-size: 12px !important;
    margin-bottom: 10px;
}
.input-edit:focus {
    box-shadow: none !important;
    border-color: #FC8945 !important;
}
.add-btn {
    border-color: #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.cancel-btn {
    border-color: #FC8945 !important;
    background-color: #fff !important;
    color: #FC8945 !important;
    font-size: 13px !important;
}
.main-contents table th {
    background-color: #EBEBEB;
    font-size: 14px;
    padding: 20px;
}
.main-contents table {
    font-size: 14px;
    font-weight: bold;
}
table td img {
    border-radius: 50%;
    margin-right: 4px;
}
table td {
    vertical-align: middle;
    padding: 20px !important;
}
table .tbl-active {
    color: #00A611 !important;
}
table td button {
    border: none;
    background-color: #fff;
    text-align: center;
}
.pagination .page-link {
    font-size: 10.4px;
    color: #000;
}
.pagination {
    margin-bottom: 10px !important;
    margin-right: 10px;
}
.pagination li a {
    border: 1px solid #DFE3E8 !important;
    border-radius: 0px !important;
    background-color: #fff;
    height: 23.76px;
    width: 23.76px;
    margin-right: 10px;
    padding: 4px 0px 0px 9px !important;
}
.pagination li a:focus {
    border-color: #FC8945 !important;
    color: #FC8945 !important;
    box-shadow: none !important;
    background-color: #fff;
}
table .dropdown-toggle::after {
    content: none !important;
}
.dropdown button i {
    color: #FC8945;
}
table td .dropdown-menu {
    min-width: 0px !important;
    border-radius: 3px !important;
    border-color: #fff !important;
    font-size: 13px !important;

}
table .dropdown-menu i {
    color: #FC8945;
    font-size: 14px;
    margin-right: 3px;
}
table .dropdown-toggle::after {
    content: none !important;
}
.input-edit-form {
    border-color: #fff !important;
    background-color: #F9FBFC !important;
    font-size: 14px !important;
    color: #888787 !important;
    margin-bottom: 10px;
}
.input-edit-form:focus {
    background-color: #F9FBFC !important;
    box-shadow: none !important;
}
.modal-dialog {
    max-width: none !important;
    width: 60% !important;
}
.input-imagebox {
    border-style: dashed !important;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-width: 1px;
    height: 74px !important;
    width: 100% !important;
}
.customer-table td {
    padding: 0px !important;
}
.customer-table td:first-child{
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.customer-table td:nth-child(2) {
    color: #9BA4B5;
    font-size: 13px;
}
.product-image {
    border-radius: 50%;
    width: 15%;
}
/* .model-box {
    margin-left: 105px;
} */
.model-items {
    height: 85vh;
    display: flex;
    align-items: center;
}
@media only screen and (max-width:575px) {
    .modal-dialog {
        margin: auto !important;
    }
}