@font-face {
    font-family: inter-font;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: outfit-font;
    src: url(../fonts/Outfit-Regular.ttf);
}
@media screen and (max-width: 576px) {
    .base-sub-info {
        /* font-size: 16px */
        font-size: 12px !important;
    }
    .contact-n .number, .client-head{
        /* font-size: 18px; */
        font-size: 13px !important;
    }
    .why-choose {
        /* font-size: 20px; */
        font-size: 14px !important;
    }
    .company-contacts h3 {
        /* font-size: 22px; */
        font-size: 15px !important;
    }
    .footer-head, .blog-card .card-body .card-title {
        /* font-size: 24px; */
        font-size: 16px !important;
    } 
    .support-team .support, .team-person, .quality-head {
        /* font-size: 26px */
        font-size: 18px !important;
    }
    .base-sub-head {
        /* font-size: 45px; */
        font-size: 27px !important;
    }
    .service {
        /* font-size: 50px; */
        font-size: 29px !important;
    }
}
.base-sub-head {
    font-size: 45px;
    margin-bottom: 20px;
}
.base-sub-info {
    font-family: inter-font;
    font-size: 16px;
    font-weight: 400;
    color: #79808A;
}
@media screen and (max-width: 991px){
    .collapse {
         background: linear-gradient(0deg, rgba(92, 91, 91, 0.904), rgba(53, 48, 48, 0.789));
    }
    .navbar-nav .nav-item .nav-link {
        color: #fffefe !important;
    }
}
.first-background {
    background-image: url(../images/first-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}
@media screen and (max-width: 576px) {
    .first-background {
        background-size: 40% 50%;
        background-position: right top;
    }
}
.navbar-collapse .nav-item .nav-link.active {
    color: #4E6BFF;
}
.nav-button, .nav-button:hover {
    background-color:#FFFFFF26 !important;
    color: #FFFFFF;
    border-radius: 25px;
    text-decoration: none;
}
.service, .customer-count {
    font-family: outfit-font;
    font-size: 50px;
    font-weight: 600;
}
.service-info {
    padding-top: 100px;
}
.get-start {
    height: 46px;
    background-color: #4E6BFF;
}
.contact-n .number, .client-head{
    font-family: inter-font;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #181C31;
}
@media screen and (max-width: 768px) {
    .contact-n, .contact-q {
        display: flex;
        justify-content: center;
    }
}

/* -------------------------------------------------------------------team---------------------------------------------------------------------- */
.support-pic-1, .support-pic-2 {
    width: 92%;
}
.support-pic-3 {
    width: 12%;
}
.support-pic-4 {
    width: 79%;
}
.support-pic-5 {
    width: 43%;
}
.support-team {
    padding-top: 50px;
}
.support-image {
    margin-bottom: 25px;
}
.support-team .support, .team-person, .quality-head {
    /* margin: 0px !important; */
    font-family: outfit-font;
    font-size: 26px;
    font-weight: 500;
    color: #181C31;
}
.support-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .support-details, .image-column {
        padding: 12px !important;
    }
}
@media screen and (max-width: 568px) {
     .support-img {
        padding: 12px !important;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}
@media screen and (max-width: 568px) {
    .image {
       width: 100%;
   }
   .support-img {
    padding: 12px;
   }
}
.support-team .support-info, .client-mail {
    margin: 0px;
}
.support-team {
    margin-top: 70px;
}
.why-choose {
    font-family: outfit-font;
    font-size: 20px;
    font-weight: 500;
    color: #4E6BFF;
}
.choose-head, .client-title, .global-Brand, .blogs-head {
    font-family: outfit-font;
    font-weight: 600;
    color: #181C31;
    
}
.video-button {
    border: none !important;
}

.video-info, .get-start-btn {
    color: #181C31;
}
/* * {
    border : 2px solid red;
} */
/* ---------------------------------------------------------------------------------------------------------------------------- */

.second-background {
    margin-top: 100px;
    background-image: url(../images/second-background.png);
    height: 460px;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
.team-Dedicated, .premium-price, .join-startups {
    font-family: outfit-font;
    font-weight: 600;
    color: #181C31;
}
.team-card {
    border: none;
    padding: 0px;
}
.card-body {
    text-align: center;
}
.team-person, .person-roll {
    margin: 0px;
    white-space: nowrap;
}
.team-info {
    width: 18rem;
}
.absolute-position {
    position: absolute;
    top: 44%;
    right: 7%;
}
.absolute-pos {
    position: absolute;
    top: 95%;
    left: -1%;
}
.team-position {
    margin-top: -150px;
    margin-left: 0px;
    margin-right: 0px;
}
/* --------------------------------------------------Quality service----------------------------------------------------------- */
.Quality-Service {
    margin-top: 90px;
}
@media screen and (max-width: 510px) {
    .team-position {
        margin-top: -100px;
        margin-left: 0px;
        margin-right: 0px;
    } 
}
@media screen and (max-width: 992px) {
    .absolute-position {
        position: absolute;
        top: 75%;
        right: 0;
    }  
}
.quality-head {
    margin-top: 35px;
    margin-bottom: 18px;
}
/* ----------------------------------------------------------------------------------------------- */
.third-background {
    background-color: #F4F7FA;
    height: auto;
    /* margin-top: 45px; */
}
.Premium-Offer {
    padding-top: 85px;
    padding-bottom: 85px;
}
/* ------------------------------------------------------toggle button----------------------------------------------------------------- */
  .premium-tabs {
    margin-top: 70px;
  }
  .premium-tabs .nav-pills .nav-link.active {
    color: #FFFFFF;
  }
  .premium-tabs .nav-pills .nav-link {
    color: #79808A;
    display: flex;
    align-items: center;
  }
  .premium-tabs .nav-pills .nav-item {
    display: flex;
    align-items: center;
  }

  .premium-tabs .nav-pills {
    background-color: #FFFFFF;
    box-shadow: 5px 4px 20px 0px #0000000D;
    border-radius: 30px;
    height: auto;
    width: 50%;
    margin: auto;
  } 
  @media (min-width: 992px) and (max-width: 1199px) {
    .premium-tabs .nav-pills {
        width: 67% !important;
    }
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    .premium-tabs .nav-pills {
        width: 56%;
    }
  }
  @media screen and (min-width: 1400px){
    .premium-tabs .nav-pills {
        width: 49%;
    }
  }
  @media (min-width: 537px) and (max-width: 768px) {
        #pills-tab {
            flex-flow: column;
        }
        .premium-tabs .nav-pills .nav-item {
            display: flex;
           justify-content: center;
          }
        
  }
 
  .form-check-input, .form-check-input:checked {
    background-color: #4E6BFF;
  }
  .project-image-1, .project-image-2 {
    width: 100%;
  }
  .project-image-3 {
    width: 99%;
  }
  .project-image-4 {
    width: 85%;
  }
  @media screen and (max-width: 768px) {
    .project-image-mobile {
        text-align: center;
    }
  }
  /* ----toggle------ */
  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4E6BFF;
    -webkit-transition: .4s;
    transition: .4s;
  } 
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #4E6BFF;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #4E6BFF;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  } 
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  } 
  .slider.round:before {
    border-radius: 50%;
  }
  /* ---------------------------------------------client----------------------------------------------------- */
  .client-info {
    font-family: inter-font;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: #79808A;
  }
  .client-box {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px #0000000D;
    /* margin-top: 60px; */
    width: 90%;
  }
  .owl-theme .owl-dots {
    display: none !important;
  }
  /* .owl-nav-button .owl-nav .owl-prev {
        background-image: url(../images/button-prev.png);
        background-position: center;
  } */
  /* ----------------------------------------------------------------------------------------------------------------------- */
  .fourth-backgroud {
    background-image: url(../images/fourth-background.png);
    height: auto;
    
  }
  .customer-count, .customer-happy {
        text-align: center;
        white-space: nowrap;
  }
  .customer-count {
        font-weight: 700;
        margin: 0px;
  }
  .customer-happy {
    font-family: inter-font;
    font-size: 19px;
    font-weight: 500;
    color: #79808A;
}
.customers {
    padding-top: 60px;
    padding-bottom: 50px;
}
/* ---------------------------------------------------------------Global-Brands--------------------------------------------------------------- */
.blogs-head {
    margin-top: 150px;
}
.Global-Brands > div {
    display: flex;
    justify-content: center;
    padding: 0px;
}
.blog-card .card-body {
    text-align: start;
    margin-top: 18px;
}
.blog-card img {
    margin-right: 7px !important;
}
.blog-card .card-body .card-title {
    font-family: outfit-font;
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}
.blog-card .card {
    border: none;
    box-shadow: 0px 4px 20px 0px #0000000D;

}
/* -----------------------------------------------------------------forms--------------------------------------------------------------------------- */
.fifth-background {
    background-image: url(../images/fifth-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    height: auto;
}
.company-contacts h3 {
    font-family: outfit-font;
    font-size: 22px;
    font-weight: 400;
    color: #181C31;
    margin-bottom: 0px;
    margin-bottom: 5px;
}
.company-contacts p a {
    text-decoration: none;
    margin-bottom: 25px;
}
.company-contacts p {
    text-decoration: none;
    margin-bottom: 25px;
}
.company-forms .card {
    border: none;
    box-shadow: 0px 4px 20px 0px #0000000D;
}
.collection-data {
    text-align: start;   
}
.form-wave {
    width: 45px !important;
}
.company-forms {
    padding-top: 110px;
    padding-bottom: 110px;
}
.form-wave-image {
    margin-right: 50px;
    margin-bottom: 60px;
}
.hr-line {
    margin-top: 26px;
    margin-bottom: 26px;
}
.collection-data input[placeholder] {
    height: 57px;
    border-radius: 15px;
    box-shadow: none;
  }
  .button-color {
    background-color: #4E6BFF;
    color: #FFFFFF;
  }
  .button-color:hover, .button-color:active {
    background-color: #4E6BFF !important;
    color: #FFFFFF !important;
  }
  .collection-data textarea[id="floatingTextarea"] {
    height: 110px !important;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: none;
  }
  .position-forms {
    position: absolute;
    top: 45%;
    right: 2%;
}
@media screen and (max-width: 800px) {
    .position-forms {
        display: none;
    }
}
.send-message-btn {
    margin-bottom: 60px;
}
.error {
    color: rgb(254, 30, 30) !important;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
.backgroud-col {
    background-color: #4E6BFF;
    height: auto;
}
.join-startups, .startup-info {
    color: #FFFFFF;
}
.get-start-btn:focus, .get-start-btn:hover, .get-start-btn {
    background-color: #FFFFFF !important;
}
.startup {
    padding-top: 60px;
    padding-bottom: 44px;
}
@media screen and (max-width: 767px) {
    .start-button {
        text-align: center !important;
      }
}
/* ---------------------------------------footer-------------------------------------------------------------------------------------- */
.footer-head {
    font-family: outfit-font;
    font-size: 24px;
    font-weight: 400;
    color: #181C31;
    margin-bottom: 35px;
}
.footer-brand {
    margin-bottom: 30px;
}
.footer ul li a {
    text-decoration: none;
    font-family: inter-font;
    font-size: 16px;
    font-weight: 400;
    color: #79808A;
}
.footer ul li, .footer p {
    margin-bottom: 10px;
}
.footer p {
    text-decoration: none;
}
.hiring-button, .hiring-button:focus {
    background-color: #20CA66 !important;
    border-radius: 35px !important;
}
#emailInput {
    height: 52px;
    border-radius: 35px;
    box-shadow: none;
}
.email-absolute {
    position: absolute;
    top: 36%;
    right: 8%;
}
.policy-act {
    color: #6D6D6D;
}
::placeholder {
    color: #79808A80 !important;
  }
