@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.main-contents h3 {
    color: #000;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
}
.card1 {
    border-color: #fff !important;
}
.card2 {
    border-color: #fff !important;
    background-color: #FFFAF8 !important;
}
.orange-btn {
    border: 1px solid #FC8945 !important;
    background-color: #FC8945 !important;
    color: #fff !important;
    font-size: 13px !important;
}
.table1 td {
    background-color: #FFFAF8 !important;
}
.table td:first-child{
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.bold-p {
    color: #000;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
.color-p {
    color: #9BA4B5;
    font-size: 13px;
    margin-bottom: 0px !important;
}
.table td:nth-child(2) {
    color: #9BA4B5;
    font-size: 13px;
}
.nav-underline .nav-link.active {
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important; 
    width: 70% !important;  
}
.nav-link {
    color: #000 !important;
    font-weight: bold !important;
    padding: 10px 0px 10px 0px !important;
    width: 70% !important;
}
.nav-link:hover {
    border-bottom-color: #FC8945 !important;
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important;
}
.tabs-line {
    width: 95% !important;
    background-color: #E2E2E2;
}
.tbl-active {
    color: #00A611 !important;
}
.boder-info {
    border: 1px solid #E2E2E2;
    border-radius: 3px;
}
