@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
body {
    font-family: inter !important;
    background-color: #EBEBEB !important;
}
.main-contents {
    margin-left: 260px;
    margin-top: 10px;
}
.reduce-maincontents {
    margin-left: 0px;
}
.head-font {
    font-weight: 600;
    font-size: 20px;
}
.head-font-blur {
    font-weight: 600;
    font-size: 20px;
    color: #888787;
}
.button-orange {
    border: none !important;
    background-color: #FB640A;
    color: #fff;
    font-size: 13px;
    width: 70px !important;
    border-radius: 3px;
}
.card {
    border-radius: 5px !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.display-content-card {
    border-radius: 5px !important ;
    background-color: #FFFAF8 !important;
    border-color: #FFFAF8 !important;
}
.table td:first-child{
    color: #000;
    font-weight: bold;
    font-size: 13px;
}
.table td:nth-child(2) {
    color: #9BA4B5;
    font-size: 13px;
}
.bold-font {
    font-weight: bold;
    font-size: 13px;
}
.color-font {
    color: #9BA4B5;
    font-size: 13px;
}
.table td {
    background-color: #FFFAF8 !important;
}
.nav-underline .nav-link.active {
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important; 
    width: 70% !important;  
}
.nav-link {
    color: #000 !important;
    font-weight: bold !important;
    padding: 10px 0px 10px 0px !important;
    width: 70% !important;
}
.nav-link:hover {
    border-bottom-color: #FC8945 !important;
    border-bottom-color: #FC8945 !important;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-width: 3px !important;
}
.tabs-line {
    width: 95% !important;
    background-color: #E2E2E2;
}
.main-btn{
    border: 1px solid #FB640A;
    background-color: #f9e1d8;
    color: #FB640A;
    border-radius: 3px;
}
.fas {
    color: gold;
    font-size: 18px;
    text-align: center;    
}
.far {
    color: #9BA4B5;
}
.star-boder {
    border: 1px solid #BFBFBF;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}
.review-name {
    border: 1px solid #9BA4B5;
    border-radius: 50%;
    background-color: #9BA4B5;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
}
.tbl-active {
    color: #00A611 !important;
}